:root {
    --bg-color: #fdf6d6;
    --primary-color: #6e5943;
    --secondary-color: #c59393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 200ms;
    /* border: black 1px solid; */

}

body {
    font-family: 'Inter', serif;
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 14px;  
}

.lighterText {
    color: var(--secondary-color);
}

header,
main,
footer {
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
    
}

p {
    font-size: 1.05em;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
}

nav {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 32px;
}

nav a {
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    opacity: 0.5;
}

main, 
section, 
.nameContainer {
    display: flex; 
    flex-direction: column;
}

main {
    gap: 54px;
    padding-top: 64px;
}

section {
    display: flex;
    flex-direction: column;
    /* border: yellowgreen 1px solid; */

}

.topBox {
    flex-direction: column;
    max-height: max-content;
}

.nameContainer {
    font-family: "Zilla Slab", serif;
    font-size: 35pt;
    text-shadow: 5px 5px pink;
    /* font-weight: 500; */
    font-style: italic;
    gap: 8px;

    
}

.underHeadline {
    font-family: "Zilla Slab", serif;
    font-size: 30pt;
    font-style: italic;
}

/* .statsContainer {
    gap: 24px;
} */

.circle-1 {
    color: #fff;
    background: #fc2;
    padding: 5%;
    width: 400px;
    height: 360px;
    margin: 0 -15px;
    mix-blend-mode: multiply;
    border-radius: 30% 20% 60% 40%;
    translate: -40% -70%;
    transform: skew(10deg, 5deg) rotate(180deg);
    opacity: 70%;
    /* border: purple 1px solid; */
}


.Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 200px;
    align-items: center;
    margin-top: -200px;
    /* border: purple 1px solid; */

}

/* .Container div {
    gap: 50px;


} */

.imgContainer {
    border-radius: 50%;
    max-width: 180px;
    max-height: 180px;
    overflow: hidden;
}

.imgContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* border-radius: 0%; */
}


.aboutMe {
    /* border: yellowgreen 1px solid; */
    line-height: 1.5em;
    text-align: right;
    justify-content: center;
    width: 100%; 
}


.projectContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.headerText {
    margin-top: 40px;
}

.projectItem {
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projectItem div:first-child {
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex: 1;
}

.projectItem>div:last-child {
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
    border-radius: 8px;
}

.projectItem>div:last-child img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 24px;
    
}

.linkItem {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 14px !important;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.linkItem:hover {
    opacity: 0.5;
}

.linkItem p {
    font-size: 0.9em;
}

@media (min-width: 640px) {
    .aboutMe {
        max-width: 80%;
        margin-right: auto;
    }
}

.outreach {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    width: 100%;
    margin-right: auto;
    text-decoration: none;
}

.outreach:hover {
    opacity: 0.5;
}

.circle-2 {
    color: #fff;
    background: #fc2;
    padding: 5%;
    width: 400px;
    height: 360px;
    margin: 0 -15px;
    mix-blend-mode: multiply;
    border-radius: 70%;
    translate: 70% 20%;
    transform: skew(5deg, 10deg) rotate(180deg);
    margin-top: -200px;
    opacity: 70%;
    /* border: purple 1px solid; */
}